body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #d32f2f;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }
  .mainGif {
  width: 200px;
  height: 200px;
  object-fit: cover;  
  border-radius: 12px;
}
 .yes-button, .no-button {
  min-width: 200px;
  font-size: 1.5em;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yes-button {
  background-color: #4caf50;
}
  .no-button {
  background-color: #d32f2f;
}
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  #reaction-gif {
  width: 400px;        
  height: 300px;
  object-fit: cover;  
  border-radius: 12px;
}
